*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #120a8f;
  font-family: sans-serif;
}
h1{
  margin-bottom: 1rem;
  color: #fff;
}
.digital{
  color: #000;
  font-size: 2rem;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
footer{
  margin-top: 1rem;
  color: #fff;
}
.social{
  text-align: center;
  margin-top: 0.3rem;
}
.social a img{
  width: 2rem;
  margin: 0 0.3rem;
}